<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>APP de citas</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
 
  </head>
  <body class = "bg-black-100">

    <nav class="flex py-5 bg-blue-500 text-white px-24">
        <div class="nav-item w-1/2 px-12 mr-auto">
            
            <a href="http://localhost:4000/" class="nav-link text-2x1 font-bold" title="Link title">CITAS MEDICAS</a>
        </div>

        <ul class="w-1/2 px-2 ml-auto flex justify-end pt-1">
            <li class="nav-item px-4">
                <a href="/tasks" class="nav-link font-semibold hover:bg-blue-700 py-3 px-4 rounded-md">DATOS USUARIO</a>
            </li>

            <li class="nav-item px-4">
                <a href="/tasks1" class="nav-link font-semibold hover:bg-blue-700 py-3 px-4 rounded-md">DATOS MEDICO</a>
            </li>
            
            <li class="nav-item px-4">
                <a href="/create" class="nav-link font-semibold  border-2 border-white hover:text-blue-700  hover:bg-white py-3 px-4 rounded-md">REGISTRAR USUARIO</a>
            </li>

            <li class="nav-item px-4">
                <a href="/especialista" class="nav-link font-semibold  border-2 border-white hover:text-blue-700  hover:bg-white py-3 px-4 rounded-md">REGISTRAR MEDICO</a>
            </li>

        </ul>
    </nav>
  
  {{{body}}}
  
  </body>
</html>